#portfolio {
    background-color: var(--color-orange-light);
    margin-top: 0;
    padding: 8rem 0;
}

/* .book {
    --color-book: var(--color-blue);
    --duration: 6.8s;
    width: 32px;
    height: 12px;
    position: relative;
    margin: auto;
    padding-bottom: 5rem;
    zoom: 1;
}

.book .inner {
    width: 32px;
    height: 12px;
    position: relative;
    transform-origin: 2px 2px;
    transform: rotateZ(-90deg);
    animation: book var(--duration) ease infinite;
}

.book .left,
.book .right {
    width: 60px;
    height: 4px;
    top: 0;
    border-radius: 2px;
    background: var(--color-book);
    position: absolute;
}

.book .left:before,
.book .right:before {
    content: '';
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background: inherit;
    position: absolute;
    top: -10px;
    left: 6px;
}

.book .left {
    right: 28px;
    transform-origin: 58px 2px;
    transform: rotateZ(90deg);
    animation: left var(--duration) ease infinite;
}

.book .right {
    left: 28px;
    transform-origin: 2px 2px;
    transform: rotateZ(-90deg);
    animation: right var(--duration) ease infinite;
}

.book .middle {
    width: 32px;
    height: 12px;
    border: 4px solid var(--color-book);
    border-top: 0;
    border-radius: 0 0 9px 9px;
    transform: translateY(2px);
}

.book ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 50%;
    top: 0;
}

@keyframes left {
    4% {
        transform: rotateZ(90deg);
    }
    10%,
    40% {
        transform: rotateZ(0deg);
    }
    46%,
    54% {
        transform: rotateZ(90deg);
    }
    60%,
    90% {
        transform: rotateZ(0deg);
    }
    96% {
        transform: rotateZ(90deg);
    }
}

@keyframes right {
    4% {
        transform: rotateZ(-90deg);
    }
    10%,
    40% {
        transform: rotateZ(0deg);
    }
    46%,
    54% {
        transform: rotateZ(-90deg);
    }
    60%,
    90% {
        transform: rotateZ(0deg);
    }
    96% {
        transform: rotateZ(-90deg);
    }
}

@keyframes book {
    4% {
        transform: rotateZ(-90deg);
    }
    10%,
    40% {
        transform: rotateZ(0deg);
        transform-origin: 2px 2px;
    }
    40.01%,
    59.99% {
        transform-origin: 30px 2px;
    }
    46%,
    54% {
        transform: rotateZ(90deg);
    }
    60%,
    90% {
        transform: rotateZ(0deg);
        transform-origin: 2px 2px;
    }
    96% {
        transform: rotateZ(-90deg);
    }
} */

.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}

.portfolio__item {
    overflow: hidden;
    transition: var(--transition);
    /* border: 3px solid var(--color-orange-light); */
    border-radius: 50px;
    background: var(--color-orange);
    box-shadow: 20px 20px 40px #ce5a02,
                -20px -20px 40px #ff7a02;
}

.portfolio__item img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.portfolio__item:hover {
    transform: scale(1.10);
    box-shadow: 0 8px 16px var(--color-orange);
}

.portfolio__item-cta {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--color-orange);
    transform: translateY(100%);
    transition: var(--transition);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    opacity: 0;

    & .btn-primary {
        background-color: var(--color-blue);
    }
}

.portfolio__item:hover .portfolio__item-cta {
    transform: translateY(0);
    opacity: 1;
}

.portfolio__item h3 {
    padding-left: 10px;
    background: var(--color-corn);
    border-radius: 10px;
    margin: 10px;
    font-size: 20px;
    color: var(--color-blue);
    font-weight: 700;
}

.portfolio__item .portfolio__item-description {
    padding-left: 10px;
    margin: 10px;
    font-size: 12px;
    color: var(--color-corn);
    line-height: 2;
}

.portfolio__item .btn {
    margin-right: 10px;
}

/* -------------------------- MEDIA QUERIES (FOR MEDIUM DEVICES LIKE TABLETS) -------------------------- */

@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* -------------------------- MEDIA QUERIES (FOR SMALL DEVICES LIKE PHONES) -------------------------- */

@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}